<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="db.community.dao.PostDAO">
	
	<select id="selectCommunity" resultType="CommunityVO">
	select * from community where co_name = #{coName}
	</select>
	
	<insert id="insertCommunity">
	insert into community(co_name) VALUEs (#{coName})
	</insert>
	
	<update id="updateCommunity">
	update community set co_name = #{oldCoName} WHERE co_name = #{newCoName}
	</update>
	
	<delete id="deleteCommunity">
	delete from community where co_name = #{coName}
	</delete>

	<select id="selectCommunityList" resultType="CommunityVO">
	select * from community
	</select>
	
	<insert id="insertPost" useGeneratedKeys="true" keyProperty="po.po_num">
	insert into post(po_name, po_content, po_co_id, po_me_id) VALUEs ( #{po.po_name},#{po.po_content} , #{po.po_me_id},#{po_co_id});
	
	</insert>
	
	
	
</mapper>